{% extends 'account/base.html' %}
{% load widget_tweaks %}
{% block title %}
Password reset
{% endblock %}

{% block content %}
<p>thisis the password reset page</p>
<form method="post" action="{% url 'account_reset_password' %}">
    {% csrf_token %}
    <div class="mb-3">
      <!-- <label  class="form-label pe-4">{{ form.login.label_tag }}</label>    -->
      {% render_field  form.email class="form-email form-control" %} 
      </div>
    <input type="submit" class="btn btn-primary" value="Email">
  </form>
{% endblock %}